---
import Layout from "@layouts/Layout.astro";
---

<Layout title="404 - Page Not Found" description="The page you're looking for doesn't exist">
  <section class="section-sm pb-0">
    <div class="container">
      <div class="text-center">
        <h1 class="page-not-found-title">404</h1>
        <p class="mb-12">
          Oops. The page you're looking for doesn't exist.
        </p>
        <a href="/" class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="-translate-y-px"><path d="M9 14 4 9l5-5"/><path d="M4 9h10.5a5.5 5.5 0 0 1 5.5 5.5v0a5.5 5.5 0 0 1-5.5 5.5H11"/></svg>
          Back to Home
        </a>
      </div>
    </div>
  </section>
</Layout>

<style>
h1.page-not-found-title {
  font-size: 120px;
  font-weight: bolder;
  color: white;
  margin-bottom: 20px;
  text-shadow: 0px -6px 0 #212121, 0px -6px 0 #212121, 0px 6px 0 #212121, 0px 6px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px -6px 0 #212121, 6px -6px 0 #212121, -6px 6px 0 #212121, 6px 6px 0 #212121, -6px 18px 0 #212121, 0px 18px 0 #212121, 6px 18px 0 #212121, 0 19px 1px rgba(0, 0, 0, .1), 0 0 6px rgba(0, 0, 0, .1), 0 6px 3px rgba(0, 0, 0, .3), 0 12px 6px rgba(0, 0, 0, .2), 0 18px 18px rgba(0, 0, 0, .25), 0 24px 24px rgba(0, 0, 0, .2), 0 36px 36px rgba(0, 0, 0, .15);
}
html.dark h1.page-not-found-title {
  font-size: 120px;
  font-weight: bolder;
  color: white;
  margin-bottom: 20px;
  text-shadow: 0px -6px 0 #232936, 0px -6px 0 #232936, 0px 6px 0 #232936, 0px 6px 0 #232936, -6px 0px 0 #232936, 6px 0px 0 #232936, -6px 0px 0 #232936, 6px 0px 0 #232936, -6px -6px 0 #232936, 6px -6px 0 #232936, -6px 6px 0 #232936, 6px 6px 0 #232936, -6px 18px 0 #232936, 0px 18px 0 #232936, 6px 18px 0 #232936, 0 19px 1px rgba(0, 0, 0, .1), 0 0 6px rgba(0, 0, 0, .1), 0 6px 3px rgba(0, 0, 0, .3), 0 12px 6px rgba(0, 0, 0, .2), 0 18px 18px rgba(0, 0, 0, .25), 0 24px 24px rgba(0, 0, 0, .2), 0 36px 36px rgba(0, 0, 0, .15);
}
</style>