---
import Breadcrumb from "@components/Breadcrumb.astro";

interface Props {
	title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---
<!-- Google tag (gtag.js) -->
<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-TGJZC3FZMX"></script>
<script  is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TGJZC3FZMX');
</script>

<section class={`pb-14 sm:pb-16 lg:pb-20 pt-12 lg:pt-16 ${className}`}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-title !text-3xl md:!text-[2.2rem] lg:!text-[2.5rem] mb-3">
          <span>{title}</span>
        </h1>
        <Breadcrumb />
      </div>
    </div>
  </div>
</section>
